
<p>{{query_results}}</p>
<h1>Primer Info</h1>
<table>
<tr>
<th> Product name </th>
<th> Item </th>
<!-- <th> Gene </th>
<th>ExonFragment</th>
<th>Chromosome</th>
<th>PrimerNameConc</th>
<th>PrimerName</th>
<th>NewName</th>
<th>Primerseq</th>
<th>PCRProg</th>
<th>PCRCond</th>
<th>Modification</th>
<th>AmpliconSize</th>
<th>Version</th>
<th>StockConc</th>
<th>Tray</th>
<th>GRID1</th>
<th>GRID2</th>
<th>GRID3</th>
<th>GRID4</th>
<th>GRID5</th>
<th>GRID6</th>
<th>GRID7</th>
<th>GRID8</th>
<th>GRID9</th>
<th>GRID10</th>
<th>GRIDCOMB</th>
<th>Supplier</th>
<th>DateMade</th>
<th>ProductCode</th>
<th>ExpiryDate</th>
<th>BatchNumber</th>
<th>OligoNo</th>
<th>ShipmentDate</th>
<th>SNPChecked</th>
<th>DateOfSNPCheck</th>
<th>SNPdbBuild</th>
<th>SNPResult</th>
<th>Assay</th>
<th>CorrectPrimerInLab</th>
<th>ListsandGSMUpdated</th>
<th>UCSC</th>
<th>NT</th>
<th>Notes</th>
<th>PrimersValidated</th>
<th>RS</th>
<th>Strand</th>
<th>Start</th>
<th>Stop</th> -->
</tr>
<tr> 
{% for item in query_results %}     
<td>{{item.productname}}</td>
<td>{{item.items.item}}</td>
<!-- <td>{{ item.Gene }} </th>
<td>{{ item.ExonFragment}} </td>
<td>{{ item.Chromosome}} </td>
<td>{{ item.PrimerNameConc}} </td>
<td>{{ item.PrimerName}} </td>
<td>{{ item.NewName}} </td>
<td>{{ item.Primerseq}} </td>
<td>{{ item.PCRProg}} </td>
<td>{{ item.PCRCond}} </td>
<td>{{ item.Modification}} </td>
<td>{{ item.AmpliconSize}} </td>
<td>{{ item.Version}} </td>
<td>{{ item.StockConc}} </td>
<td>{{ item.Tray}} </td>
<td>{{ item.GRID1}} </td>
<td>{{ item.GRID2}} </td>
<td>{{ item.GRID3}} </td>
<td>{{ item.GRID4}} </td>
<td>{{ item.GRID5}} </td>
<td>{{ item.GRID6}} </td>
<td>{{ item.GRID7}} </td>
<td>{{ item.GRID8}} </td>
<td>{{ item.GRID9}} </td>
<td>{{ item.GRID10}} </td>
<td>{{ item.GRIDCOMB}} </td>
<td>{{ item.Supplier}} </td>
<td>{{ item.DateMade}} </td>
<td>{{ item.ProductCode}} </td>
<td>{{ item.ExpiryDate}} </td>
<td>{{ item.BatchNumber}} </td>
<td>{{ item.OligoNo}} </td>
<td>{{ item.ShipmentDate}} </td>
<td>{{ item.SNPChecked}} </td>
<td>{{ item.DateOfSNPCheck}} </td>
<td>{{ item.SNPdbBuild}} </td>
<td>{{ item.SNPResult}} </td>
<td>{{ item.Assay}} </td>
<td>{{ item.CorrectPrimerInLab}} </td>
<td>{{ item.ListsandGSMUpdated}} </td>
<td>{{ item.UCSC}} </td>
<td>{{ item.NT}} </td>
<td>{{ item.Notes}} </td>
<td>{{ item.PrimersValidated}} </td>
<td>{{ item.RS}} </td>
<td>{{ item.Strand}} </td>
<td>{{ item.Start}} </td>
<td>{{ item.Stop}} </td> -->
    </tr>
    {% endfor %}
</table>
<form>
	{{form}}
	<input type="submit" name="submit" value="Save">
</form>
